### Задача 44:
> В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца.
> Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?
```
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()
```

In [12]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  robot
3  human
4  robot

In [16]:
data.loc[data['whoAmI'] == 'robot', 'robot'] = True
data.loc[data['whoAmI'] != 'robot', 'robot'] = False
data.loc[data['whoAmI'] == 'human', 'human'] = True
data.loc[data['whoAmI'] != 'human', 'human'] = False
data[['human', 'robot']]

    human  robot
0    True  False
1   False   True
2   False   True
3    True  False
4   False   True
5    True  False
6    True  False
7    True  False
8   False   True
9    True  False
10  False   True
11  False   True
12   True  False
13   True  False
14  False   True
15  False   True
16  False   True
17   True  False
18  False   True
19   True  False